.body{
    background-image: url('./Assets/DarkBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
   
}

#about-modal-content{
    color: black;
    height: 50vh;
    background-image: url(./Assets/self-indication.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-color: transparent;
}

.about-modal-body{
    height: 40vh;
}

#projects-modal-content{
    color: black;
    background-color: transparent;
    height: 50vh;
    background-image: url(./Assets/Working.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.projects-modal-body{
    height: 40vh;
}

.title{
    text-align: center;
    color: rgb(140, 122, 122);
}

.profile{
    margin-top: 15%;
}

.buttonContainer{
 position: relative;
 display: flex;
 align-items: center;
}

.btn-main{
    width: 8px !important;
    border: transparent !important;
}

#modalBtn{
    background-color: transparent;
    border-color: transparent;
    width: 10px;
    height: 10px;
    font-size: 80px;
    color: rgb(113, 157, 116);
    z-index: 0;
    margin: 0;
    padding: 0;
    transition: 500ms;
    border: transparent !important;
}

#modalBtn:hover{
    color: transparent;
    border: transparent !important;
}

#secondIcon:hover{
    color: rgb(179, 60, 60) !important;
    border: transparent !important;
}

#secondIcon{
    position: relative;
    bottom: 120px;
    right: 5px;
    z-index: 3;
    color: transparent;
    transition: 1000ms;
    border: transparent !important;
}

#biography-container{
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 200px;
    border: transparent !important;
}

.footer{
    display: flex;
    align-items: center;
}

.btn-floating{
    color: blanchedalmond;
}

#btn{
    color: rgb(113, 157, 116);
    border-radius: 12px;
    font-size: 30px;
    transition: all 500ms ease-in-out;
}

#btn:hover{
    font-size: 60px;
    color: rgb(179, 60, 60);
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameInput{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.nameInput::placeholder{
    color: grey;
}


.messageTitle{
    margin-top: 40px;
}

.messageInput{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 200px;
}

.emailTitle{
    margin-top: 40px;
}
.emailInput{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.communication-modal-footer{
    margin-top: 10px;
    height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    align-items: center;
}

.about-modal-footer{
    margin-top: 10px;
    height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    border-color: transparent;
    align-items: center;
    overflow: auto;
}

.projects-modal-footer{
    margin-top: 10px;
    height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    align-items: center;
}




#form-submit-button{
    color: rgb(113, 157, 116);
    background-color: transparent;
    font-size: 30px;
    height: 50px;
    width: 75px;
    border-radius: 50%;
    border: transparent;
    transition: 200ms ease-in-out;
}
#form-submit-button:hover{
    font-size: 50px;
    color: rgb(60, 167, 179)
}

.foot-content{
    display: flex;
    justify-content: center;
    gap: 90px;
}


